<mat-card>
    <mat-spinner diameter="70" *ngIf="estaCarregando"></mat-spinner>
  
    <form [formGroup]="form" (submit)="onSalvarLivro()" *ngIf="!estaCarregando">
  
      <mat-form-field>
        <input type="text" matInput placeholder="Título" name="titulo" required formControlName="titulo"/>
      </mat-form-field>
  
      <mat-form-field>
        <input type="text" matInput placeholder="Autor(a)" name="autor" required formControlName="autor"/>
      </mat-form-field>
  
      <mat-form-field>
        <input type="text" matInput placeholder="N° de páginas" name="paginas" formControlName="paginas" required/>
      </mat-form-field>
  
      <button color="accent" mat-raised-button>
        Salvar livro 
      </button>
    </form>
  </mat-card>
  